
  .button-toggle-config {
    background: #0d6fba;
    display: inline-block;
    border-radius: 40px;
    margin: 5px;
    position: relative;
    padding: 5px;
    cursor: pointer;
        /*
    width: 40px;
    height: 100%;
    background-color: coral;
    background-image: url("./../img/menu-alt-512.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
    */
  }

  .circle {
    width: 20px;
    height: 20px;
    position: relative;
  }
  .line{
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    border-radius: 2px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  }
  .top {
    top: 18%;
  }
  .middle {
    top: 48%;
  }
  .bottom {
    top: 78%;
  }

  .icon.close .top {
    transform: rotate(45deg);  
    top: 48%;
  }

  .icon.close .middle, .icon.close .bottom {
    transform: rotate(-45deg);  
    top: 48%;
  }

    .button-toggle-config:hover {
    opacity: 0.7;
  }

  .nav-main ul {
    display: flex;
    flex-wrap: wrap; /* was macht das ? */
    padding-left: 15px;
    
  }


  .nav-main ul li {
    list-style: none; /* Keine Punkte usw.  */
    line-height: 40px;
  }

  .nav-main ul li a{
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-family: Arial;
    font-size: 12px;
  }

/*

Sidebar

*/


  .nav-sidebar {
    float: left;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30px;
    top: 40px;
    height: calc(100vh - 40px);
    background-color: #111;
    z-index: 1000; /* Hat wohl was damit zu tun, dass immer im Vorderung ... Ebenen?? */
    transition: all 0.3s ease-in-out;
  }

  .nav-sidebar ul{
    padding: 15px 0;
    overflow: hidden; /* Wenn der Inhalt größer ist als der Container, dann wird der Inhalt abgeschniten*/
    visibility: hidden;
  }

  
  .nav-sidebar ul li{
    line-height: 40px;
    list-style: none;
    
  }
  
  .nav-sidebar ul span, .nav-sidebar ul li a{
    display: block;
    height: 40px;
    padding: 0 10px;
    color: white;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .nav-sidebar ul li a:hover{
    color: darkgray;
  }

 