  .nav-main {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background-color : khaki;
    display: flex;
    flex-wrap: wrap; /* was macht das ? */
    z-index: 1000; /* Hat wohl was damit zu tun, dass immer im Vorderung ... Ebenen?? */
  }

.backbutton { float: left; width: 45px; background: pink; }
.forwardbutton { float: left; width: 50px; background: pink; }
