.matrix { 
    background: slateblue; 
    display: flex;
    position: relative;
    /*position: fixed;*/
    /*top: 40px;*/
    padding: 40px 40px;
}


.todoColumnDiv { 
    background-color: green; 
    float: left; /* Dadurch sind die Columns nebeneinander */
    height: 100vh;
    width: fit-content;
    margin: 0px 10px; /* oben seitlich */
}



